*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
  background-color: $base-body-background-color;
}

a,
button,
input,
label,
div,
p,
span,
pre,
code,
blockquote {
  color: $base-components-color;
  font-size: $font-size-14;
  line-height: 1.5;
}

label {
  font-weight: $font-weight-semibold;
}

a {
  cursor: pointer;
  text-decoration: none;
}
