$color-black  : #000000 !default;
$color-gray220: #11100f !default;
$color-gray210: #161514 !default;
$color-gray200: #1b1a19 !default;
$color-gray190: #201f1e !default;
$color-gray180: #252423 !default;
$color-gray170: #292827 !default;
$color-gray160: #323130 !default;
$color-gray150: #3b3a39 !default;
$color-gray140: #484644 !default;
$color-gray130: #605e5c !default;
$color-gray120: #797775 !default;
$color-gray110: #8a8886 !default;
$color-gray100: #979593 !default;
$color-gray90 : #a19f9d !default;
$color-gray80 : #b3b0ad !default;
$color-gray70 : #bebbb8 !default;
$color-gray60 : #c8c6c4 !default;
$color-gray50 : #d2d0ce !default;
$color-gray40 : #e1dfdd !default;
$color-gray30 : #edebe9 !default;
$color-gray20 : #f3f2f1 !default;
$color-gray10 : #faf9f8 !default;
$color-white  : #ffffff !default;

$color-primary: #0078d4 !default;
$color-darkalt: #106ebe !default;
$color-dark   : #005a9e !default;
