// Fallback fonts, if specified system or web fonts are unavailable.
$font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !default;

// Weights.
$font-weight-regular : 400 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold    : 700 !default;

// Sizes.
$font-size-68: 68px !default;
$font-size-42: 42px !default;
$font-size-32: 32px !default;
$font-size-28: 28px !default;
$font-size-24: 24px !default;
$font-size-20: 20px !default;
$font-size-18: 18px !default;
$font-size-16: 16px !default;
$font-size-14: 14px !default;
$font-size-12: 12px !default;
$font-size-10: 10px !default;
