nav {
  display: flex;
  flex-direction: column;
  width: 208px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
  border: 1px solid $color-gray20;

  > *, > a {
    display: inline-flex;
    width: 100%;
    min-height: 44px;
    align-items: center;
    margin: 0;
    padding-left: 4px;

    &:hover {
      color: $color-primary;
      background-color: $color-gray20;
    }

    &.active {
      border-left: 2px solid $color-primary;
      background-color: $color-gray30;
      font-weight: $font-weight-semibold;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    min-height: 0;
  }
}
